*{
	margin: 0;
	padding: 0;
}

body{
	background-color: #372424;
}

a{
	color: #FFFC9C;
}

li{
	list-style-type: none;
}

.nav{
	display: inline-block;
	box-sizing: border-box;
	width: 30px;
	padding-left: 100px;
}

#navbar{
	background: #9F0B0B;
	padding: 30px;
}

/* fotos pandas */

.pictureIn0, .pictureIn1, .pictureIn2, .pictureIn3{
	height: 25px;
	margin-top: 0;
	padding-top: 0;
}

#btn0, #btn1, #btn2, #btn3{
	float: left;
	padding: 2%;
	border-radius: 5px;
	background-color: #9F0B0B;
	color: #FFFC9C;
	font-weight: bold;
}

.pictureDown0{
	background: url("../img/a1.jpg");
	background-repeat: no-repeat;
}

.pictureDown1{
	background: url("../img/a2.jpg");
	background-repeat: no-repeat;
}

.pictureDown2{
	background: url("../img/a3.jpg");
	background-repeat: no-repeat;
}

.pictureDown3{
	background: url("../img/a4.jpg");
	background-repeat: no-repeat;
}

.picture0, .picture1, .picture2, .picture3{
	float: left;
	margin: 9px 9px;
	text-align: center;
	box-sizing: border-box;
	width: 150px;
	height: 175px;
}

.pictureDown0, .pictureDown1, .pictureDown2, .pictureDown3{
	float: left;
	margin-top: 0;
	text-align: center;
	box-sizing: content-box;
	width: 150px;
	height: 150px;
	border: grey solid;
}

.pictDown0, .pictDown1, .pictDown2, .pictDown3{
	float: left;
	border: grey solid;
	/*position: absolute;
	z-index: 0;*/
}

#fotitos{
	overflow: auto;
	padding: 10px 200px;
}

/* botones */

#section2{
	overflow: auto
}

#botones{
	padding: 1% 14%;
}

.boton{
	width: 30%;
	height: 43px;
	color: #FFFC9C;
	background-color: #9F0B0B;
	border: #372424 solid;
}

/* parrafos */

#section3{
	padding: 1% 13%;
}

.parraf{
	box-sizing: border-box;
	width: 41%;
	display: inline-block;
	margin: 20px;
	text-align: justify;
	color: #FFFC9C;
}

