*{
	margin: 0;
	padding: 0;
}

body{
	background-color: #372424;
}

a{
	color: #FFFC9C;
}

li{
	list-style-type: none;
}

.nav{
	display: inline-block;
	box-sizing: border-box;
	width: 30px;
	padding-left: 100px;
}

#navbar{
	background: #9F0B0B;
	padding: 30px;
}

/* fotos pandas */

.pictures{
	float: left;
	margin: 0 9px;
	text-align: center;
	box-sizing: content-box;
	border: grey solid;
	width: 150px;
	height: 150px;
}

#fotos-removibles #fotitos .pictures .pict{
	float: left;
	/*position: absolute;
	z-index: 0;*/
}

#fotitos{
	overflow: auto;
	padding: 10px 200px;
}

#fotos-removibles #fotitos .pictures .pict-rm{
	width: 15%;
	float: left;
	/*position: absolute;
	z-index: 1;*/
}

/* botones */

#botones{
	padding: 1% 14%;
}

.btn{
	width: 30%;
	height: 27px;
	color: #FFFC9C;
	background-color: #9F0B0B;
	border: #372424 solid;
}

/* parrafos */

#section3{
	padding: 1% 13%;
}

.parraf{
	box-sizing: border-box;
	width: 41%;
	display: inline-block;
	margin: 20px;
	text-align: justify;
	color: #FFFC9C;
}