*{
	margin: 0;
	padding: 0;
}

body{
	background-color: whitesmoke;
}

a{
	color: #FFFC9C;
}

.nav{
	display: inline-block;
	box-sizing: border-box;
	width: 30px;
	padding-left: 100px;
}

#navbar{
	background: red;
	padding: 30px;
}

.pictures{
	display: inline-block;
	margin: 0 9px;
	text-align: center;
	box-sizing: content-box;
	border: grey solid;
	width: 150px;
	height: 150px;
}

#fotitos{
	padding: 10px 200px;
}